{{diagnostic}}

<div class="container">
  <div class="row">
    <h2>Account Information</h2>
  </div>
  <div class="row">
    <div class="col-sm">
      Name
    </div>
    <div class="col-sm">
      {{model.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Balance
    </div>
    <div class="col-sm">
      {{model.balance}}
    </div>
  </div>
</div>

<div class="container">

  <ngbd-modal-focus></ngbd-modal-focus>

</div>

<div class="container">

  <h3>Transations</h3>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Transaction Date</th>
          <th scope="col">Bookingdate</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of model.transactions">
          <td>{{transaction.transactionDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{transaction.bookingDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{transaction.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>