{{diagnostic}}

<div class="container">
  <div class="row">
    <h2>Account Information</h2>
  </div>
  <div class="row">
    <div class="col-sm">
      Name
    </div>
    <div class="col-sm">
      {{model.name}}
    </div>
  </div>
</div>

<div class="container">
  <h3>Transations</h3>


  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Transaction Date</th>
          <th scope="col">Bookingdate</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.transactionDate}}</td>
          <td>{{account.name}}</td>
          <td><button type="button" class="btn btn-danger" (click)="delete(account.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>